/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/clases/ConceptosBasicos/build/
/clases/ConceptosBasicos/dist/
/clases/ClaseLibro/nbproject/private/
/clases/ClaseLibro/build/
/tareas/ClaseLibro/nbproject/private/
/tareas/ClaseLibro/build/
